<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <link rel="stylesheet" media="all" href="<%= css %>" />
    </head>
<%
    function prettySource(s) {
      if (s.endsWith('.md')) s = s.replace(/\.md$/g, '').replace(/\-/g, ' ')
    
      if (s.match('/')) {
        s = s.split('/')[1]
      }
    
      return s
    }
-%>  
    <body>
        <div class="container">

        <div class="header"><h1>Header</h1></div>

        <div class="sidebar">
          <% if (sources.length > 1) { %>
            <div class="toc">
              <h3>Table of Contents</h3>
              <ol>
                <% for (var i=0, l = sources.length; i < l; i++) { %>
                  <% var source = sources[i]; %>
                  <li>
                    <a class="source" href="<%= relativeToThisFile(finalPath(source)) %>">
                      <%= prettySource(source) %>
                    </a>
                  </li>
                <% } %>
              </ol>
            </div>
          <% } %>
        </div>

        <div class="content">
          <% for (var i = 0, l = sections.length; i<l; i++) { %>
            <% var section = sections[i]; %>
            <%- section.docsHtml %>
            <%- section.codeHtml %>
          <% } %>
        </div>


        <div class="footer">Footer</div>
        </div>
    </body>
</html>